


.button{
    -fx-padding : 5 22 5 22;
    -fx-border-color : none;
    -fx-background-color: none;
    -fx-font-family: "flash";
    -fx-font-size: 50;
    -fx-text-fill: #764517;

}





